.vscode/**
.vscode-test/**

client/**
server/**

**/tsconfig.json
**/*.ts

scripts/**
node_modules/**
snippets/**

.gitignore
.eslintignore

.prettierignore
biome.json
cmds.txt
cmds*.txt
*.nu
*cmds*.txt
*.tsbuildinfo
used_keywords.jsonc

.github/